.react-styled-select {
  box-sizing: border-box;
  height: 40px;
  line-height: 20px;
  border: 1px solid #d4d8d9;
  display: inline-block;
  position: relative;
  vertical-align: baseline;
  border-radius: 4px;
  background: white;
}

.react-styled-select select {
  -webkit-appearance: none;
  -moz-appearance: window;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  padding-right: 40px;
  padding-left: 7px;
  background: none;
  border: none;
  outline: 0;
  font-size: 14px;
  color: #3e4243;
}

.react-styled-select-focused {
  box-shadow: 0 0 2px 2px rgba(0, 0, 255, .1);
  border-color: #579ae4;
}

.react-styled-select-disabled {
  border-color: #ddd;
}

.react-styled-select-disabled select {
  color: #ddd;
}

.react-styled-select-disabled .react-styled-select-arrow {
  opacity: 0.4;
}

.react-styled-select-arrow {
  width: 32px;
  height: 40px;
  background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAGCAMAAAAi7JTKAAAANlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC3dmhyAAAAEnRSTlMAsBmqaFg8L5B8dG5hRkM1KCHu16QEAAAAM0lEQVQI1yXKWRIAIAgCUKy0fbv/ZdPkh8cMKAJPYGwSZ2xApvXZARtTmfx5iEnpuXVYPRp1AMCkfS8tAAAAAElFTkSuQmCC') center no-repeat;
  position: absolute;
  right: -1px;
  top: -1px;
  pointer-events: none;
  border-radius: 0 3px 3px 0;
}

.react-styled-select select::-ms-expand {
  display: none;
}

.react-styled-select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
